@import '../../index.css';

.card{

    .card-body{

        button{
            border: none;
            background-color: var(--clr-primary);
            color: var(--clr-light);
            padding: .5em .8em;
            border-radius: 5px;
            font-size: 1rem;

            &:hover{
                background-color: transparent;
                color: var(--clr-primary);
                border: 2px solid var(--clr-primary);
            }
        }
    }
}