@import '../../index.css';

// .hero{
//     height: calc(100vh - 124px);
// }
.carousel-item {
    height: 85vh; 

    opacity: .5;
    transition: opacity 1s ease-in-out;
}

.carousel-item.active {
    opacity: 1;
}

.carousel-item img {
    height: 100%; 
    width: 100%; 
    object-fit: cover; 
    object-position: bottom;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
    width: inherit;
    h5{
        color: var(--clr-primary);
        font-family: var(--fw-bold);
        font-size: 5rem;
    }

    .animated-text {
        animation: fadeIn 1s ease forwards;
    }
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

