@import '../../index.css';

footer{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding: .8em 0;
    text-align: center;
    font-size: 1.5rem;
    .developer{
        font-size: .7rem;

        span{
            color:var(--clr-primary);
            cursor: pointer;
            &:hover{
                color: var(--clr-light);
            }
        }
    }
}
@media (max-width: 768px){
    footer{
        p{
            padding: 0 2em;
        }
       
    }
}